#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
}

.form {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 15em;
  grid-template-areas:
    "input submit"
    "result abilities";
  align-items: center;
  gap: 1em;
}

label {
  display: flex;
  gap: 1em;
  align-items: center;
}

button {
  justify-self: start;
}

.validation-error:not(:empty) {
  color: white;
  background-color: #ff3333;
  border: 1px solid darkred;
  border-radius: 1em;
  grid-area: result;
  grid-column: 1 / -1;
}

.pokemon-card:not(:empty) {
  grid-area: result;
  align-self: baseline;
  border: 8px solid lightgray;
  border-radius: 1em;
}

.pokemon-details {
  text-align: left;
}

.abilities-aside {
  grid-area: abilities;
  text-align: left;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
