#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 9em;
  grid-template-areas:
    "label input submit"
    "result result result";
  align-items: center;
  gap: 1em;
}

label {
  display: flex;
  gap: 1em;
  align-items: center;
}

.validation-error:not(:empty) {
  color: white;
  background-color: #ff3333;
  border: 1px solid darkred;
  border-radius: 1em;
  grid-area: result;
}

.pokemon-card:not(:empty) {
  grid-area: result;
  align-self: baseline;
  border: 8px solid lightgray;
  border-radius: 1em;
}

.pokemon-details {
  text-align: left;
}
}
